.my-custom-gallery {
    width: 100%;
    max-width: 2500px; 
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
}
  
.my-custom-gallery .image-gallery-slide img {
    height: 700px; 
    object-fit: cover;
    filter: brightness(0.5); 
}

.slider-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
}

