.my-custom-gallery {
    width: 100%;
    max-width: 2500px; 
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
}
  
.my-custom-gallery .image-gallery-slide img {
    height: 700px; 
    object-fit: cover;
    filter: brightness(0.5); 
}

.slider-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
}

.slider-title {
    color: white;
    font-size: 2.5rem; /* Ajusta según tus necesidades */
    margin-bottom: 0.5rem; /* Espacio entre h1 y h2 */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.slider-subtitle {
    color: white;
    font-size: 2rem; /* Ajusta según tus necesidades */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}