@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #00330a;
    --secondary-color: #a67102;
    --text-color: #363636;
}

/* Eliminar las flechas de los campos de entrada de tipo número en navegadores webkit */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar las flechas de los campos de entrada de tipo número en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}